QTreeView {
    outline: 0;
    background: #fff;
}

QTreeView::item {
    color: #000;
    min-height: 92px;
}
QTreeView::item:hover {
    background: #eee;
}

QTreeView::item::open:has-children{
    background-color: #aaa;
}

QTreeView::item:selected{
    background-color: #ddd;
}

QTreeView::item:selected:has-children{
    background: #aaa;
}

QTreeView::branch:adjoins-item {
    /*right*/
    background: #aaa;
}

QTreeView::branch:!adjoins-item {
    /* left*/
    background: #aaa;
}

QLineEdit{
    border: 1px solid #ccc;
    border-radius: 4px;
}

QLineEdit:focus{
    outline: 0;
    border: 2px solid #80bdff;
}

QPushButton#addFriendPushButton, #startGroupPushButton{
    color: #fff;
    border:1px solid transparent;
    background-color: #007bff;
    border-radius: 3px;
}

