QTreeView {
    outline: 0px;
    background: rgb(47, 64, 78);
}
QTreeView::item {
    min-height: 92px;
}
QTreeView::item:hover {
    background: rgb(41, 56, 71);
}
QTreeView::item:selected {
    background: rgb(41, 56, 71);
}

QTreeView::item:selected:active{
    background: rgb(41, 56, 71);
}
QTreeView::item:selected:!active{
    background: rgb(41, 56, 71);
}

QTreeView::branch:open:has-children {
    background: rgb(41, 56, 71);
}

QTreeView::branch:has-siblings:!adjoins-item {
    background: green;
}
QTreeView::branch:closed:has-children:has-siblings {
    background: rgb(47, 64, 78);
}

QTreeView::branch:has-children:!has-siblings:closed {
    background: rgb(47, 64, 78);
}

QTreeView::branch:open:has-children:has-siblings {
    background: rgb(41, 56, 71);
}

QTreeView::branch:open:has-children:!has-siblings {
    background: rgb(41, 56, 71);
}
QTreeView:branch:hover {
    background: rgb(41, 56, 71);
}
QTreeView:branch:selected {
    background: rgb(41, 56, 71);
}

QLineEdit{
    border: 1px solid #ccc;
    border-radius: 4px;
}

QLineEdit:focus{
    outline: 0;
    border: 2px solid #80bdff;
}

QPushButton#addFriendPushButton, #startGroupPushButton{
    color: #fff;
    border:1px solid transparent;
    background-color: #007bff;
    border-radius: 3px;
}

