
QLineEdit{
    border: 1px solid #ccc;
    border-radius: 4px;
}

QLineEdit:focus{
    outline: 0;
    border: 2px solid #80bdff;
}

QPushButton#sendCodeButton{
    border: none;
    color: blue;
    font-size: 14px;
}

QPushButton#registerButton{
    color: #fff;
    border:1px solid transparent;
    background-color: #007bff;
    border-radius: 3px;
}
